* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

body {
    line-height: 1;
    overflow-x: hidden;
}

#wrap {
    max-width: 500px;
    width: calc(100% - 18px);
    margin: 0 auto;
    background-color: white;
}

.header {
    /* position: fixed; */
    width: 100%;
    margin: 0 auto;
    height: 53px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
}

.header img {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.header a img {
    width: 140px;
}
.main .visual {
    width: 100%;
}
.main .visual.visual img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: block;
}

.main .visual .visual_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.main .visual .visual_item img {
    width: 30%;
    height: 100%;
    object-fit: cover;
}
h2 {
    font-size: 17px;
    text-align: center;
    padding: 40px 0;
    letter-spacing: 5px;
}
.new .list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.new .list strong{
    padding: 10px 24px;
    margin: 20px auto 50px;
    display: block;
    background-color: #74A7AF;
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 500;
}
.new .list .item {
    width: 49%;
}
.new .list .item img {
    width: 100%;
    object-fit: cover;
    display: block;
}
.new .list .item .text {
    line-height: 1.5;
    text-align: center;
    margin: 5px 0 20px;
}
.new .list .item .text h3 {
    font-size: 13px;

}.new .list .item .text p {
    color: #8d8b8b;
    font-size: 12px;
    text-decoration: line-through;
}
.new .list .item .text span {
    font-size: 14px;
}
.new .list .item .text p,
.new .list .item .text span {
    font-weight: 500;
}

.banner {
    width: 100%;
}
.banner img {
    width: 100%;
    object-fit: cover;
    display: block;
}
.best .list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.best .list strong{
    padding: 10px 24px;
    margin: 20px auto 50px;
    display: block;
    background-color: #74A7AF;
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 500;
}
.best .list .item {
    width: 32.03%;
}
.best .list .item img {
    width: 100%;
    object-fit: cover;
    display: block;
}
.best .list .item .text {
    line-height: 1.5;
    text-align: center;
    margin: 5px 0 20px;
    font-size: 12px;
}
.best .list .item .text h3 {
    font-size: 13px;
}
.best .list .item .text p {
text-decoration: line-through;
color: #8d8b8b;
}
.best .list .item .text span {
    font-size: 14px;
}
.best .list .item .text p,
.best .list .item .text span {
    font-weight: 500;
}
.insta .box {
    width: 100%;
    margin: 0 auto ;
    text-align: center;
}
.insta .box img {
    width: 24px;
}
.insta .box h2 {
   padding: 0;
   margin: 8px 0; 
   letter-spacing: 3px;
}
.insta .box p {
    font-size: 13px;
    font-weight: 500px;
}
.insta .list {
    width: 100%;
    margin: 20px 0 50px;
    
}
.insta .list .item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 7px;
}
.insta .list .item img {
    width: 32.03%;
    height: 115px;
    object-fit: cover;
    display: block;
}
.footer .copyright {
    border-top: 1px solid #BDBCBC;
    border-bottom: 1px solid #bdbcbc;
    padding: 30px 0;
    text-align: center;
}
.footer .copyright strong {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 20px;
}
.footer .copyright p {
    font-size: 11px;
    font-weight: 500;
    /* letter-spacing: -0.5px; */
    line-height: 1.5;
}
.footer .footer_list {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 25px 0;
    position: relative;
}
.footer .footer_list::before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #BDBCBC;
    position: absolute;
    top: 0;
    left: 50%;
    
}
.footer_list h4 {
    font-size: 13px;
    margin-bottom: 5px;
}
.footer_list .cs {
    line-height: 1.5;
    font-size: 12px;
    width: 50%;
}

.footer_list .cs strong {
    font-size: 14px;
    line-height: 1.5;
}

.footer_list .bank {
    line-height: 1.5;
    font-size: 12px;
    width: 50%;
}
.footer .bottom {
    border-top: 1px solid #BDBCBC;
    padding:25px 0 ;
    width: 100%;
    margin: 0 auto;
}
.footer .bottom ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}
.footer .bottom ul li {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 11px;
    text-align: center;
    line-height: 1.5;
}
.footer .bottom ul li p {
    font-weight: bold;
}



@media screen and (max-width:395px) {
    /* .footer .copyright p {
    letter-spacing: -0.5px;
} */
}